.footer {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  background: fixed url(../img/background-footer.jpg);
  background-size: cover;
}

.container {
  color: white;
  width: 463px;
  margin: auto;
  font-family: florence, cursive;
  text-align: center;
}
