.footer {
  width: 100%;
  height: 150px;
  margin-top: 40px;
  background: fixed url(../img/background-footer.jpg);
  background-size: cover;
}

.container {
  top: 5px;
  left: 500px;
  color: white;
  width: 400px;
  height: 130px;
  position: relative;
  font-family: florence, cursive;
}

.container .tel {
  left: 40px;
  position: relative;
}

.container .p {
  right: 20px;
  position: relative;
}

.container .img {
  left: 70px;
  position: relative;
}