.table {
  margin-top: 50px;
  width: 1000px;
  display: grid;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  grid-template-rows: repeat(4, 160px);
  grid-template-columns: repeat(4, 244px);
}

.cell img {
  width: 244px;
  height: 160px;
}

.name {
  display: inline-block;
  position: relative;
}

.name:hover::after {
  left: 0;
  width: 244px;
  bottom: 0;
  height: 30px;
  filter: opacity(70%);
  content: attr(data-title);
  z-index: 1;
  position: absolute;
  font-size: 20px;
  text-align: center;
  background: #324ab2;
  padding-top: 6px;
  font-family: Arial, sans-serif;
  margin-bottom: 4px;
}