* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: fixed url(../img/background.jpg);
  background-size: cover;
}

.header {
  text-align: center;
}

.header-container {
  width: 1030px;
  /*height: 155px;*/
  display:inline-block;
}

.col-left {
  width: 170px;
  float: left;
  margin: 20px;
  text-align: right;
}

.col-right {
  text-align: center;
  width: 750px;
  float: left;
  margin: 20px;
}

.col-right .h1,
.col-right .menu {
  margin-top: 20px;
}

.logo {
  width: 140px;
  border: 2px solid #708090;
  padding: 3px;
  border-radius: 35px;
}

.h1 {
  color: #708090;
  width: 100%;
  font-family: florence, cursive;
}

.menu li {
  display: inline-block;
  color: black;
  list-style: none;
  font-family: florence, cursive;
  margin: 0 22px;
}

.menu li a {
  color: black;
  display: inline-block;
  padding: 3px 50px;
  font-family: florence, cursive;
  border-radius: 15px;
  text-decoration: none;
  background-color: #b0e0e6;
  cursor: pointer;
  font-size: 20px;
}

.menu li a:hover {
  background-color: #4ebbbc;
}

.menu li.active a {
  background-color: #324ab2;
  transform: scale(1.3);
}

.menu li.active a:hover {
  cursor: default;
  background-color: #324ab2;
}

.banner {
  width: 1000px;
  margin: 0 auto;
}

.banner img {
  width: 100%;
  height: 200px;
}
