.content {
  width: 1000px;
}

.gallery {
  width: 700px;
  margin: 80px auto;
}

.gallery img {
  width: 700px;
  margin-bottom: 50px;
}

.gallery img:hover {
  transform: scale(1.5);
}

.menu li a:hover {
  background-color: #324ab2;
  transform: scale(1.3);
}
