
*{
	text-decoration: none;
	margin: 0;
    padding: 0;
}

.logo{
	position: relative;
	left:60px;
}

.h1 {
	font-family:florence,cursive;
	color:black;
	position: relative;
	top: -150px;
	left:320px;
	width: 70%;
}

.menu li{
	list-style: none;
	float: left;
	margin-right: 45px;
	font-family:florence,cursive;
	color:black;
	position: relative;
	top: -120px;
	left:260px;
}

.menu a {
    text-decoration: none;
    font-family: florence,cursive;
    color: #5757a0;
    display: inline-block;
    padding: 4px 80px;
    background-color: lavender;
    border: 5px solid #5757a0;

}

.menu .color {
	color: #5757a0;
	font-size: 23px;
	cursor:pointer;
}

.menu .color:hover{
	background-color:red;
}

.banner{
	position: relative;
	top: -100px;
}

.banner img{
	width: 100%;
}

.article-1{
	width: 700px;
	position: relative;
	top: -40px;
	left:280px;
}

.article-1 img{
	width: 680px;
}

.article-1 h3{
	font-family: florence,cursive;
    position: relative;
	top: -10px;
	left:30px;
}

h3 a{
	color: black;
}

.read-next{
	color:black;
	font-family: florence,cursive;
	font-size: 20px;
}
